*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar .container .navbar-brand .logo{
    width: 100px;
    filter: drop-shadow(5px 5px 5px #615f5f);
}

.col .card .card-img-top{
    width: 35%;
}
h5{
    text-align: center;
    font-size: 22px;
    color: black;
}

p{
    text-align: center;
    font-style: italic;
    color: black;
   scale:105%;
}

.col-8 .row .col .card{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    filter: drop-shadow(5px 5px 5px #838080);
    
}

.col-8 .row .col .card:hover{
    -webkit-transform:scale(1.0222);
     transform:scale(1.0222)
}
